{% extends "template.html" %}

{% block section %}
<!-- SECTION -->
<section class = "section">
    <div class = "container">
        <h1>
            Welcome to TweetieChat. <BR>
            Please Sign in to access features.
        </h1>
    </div>
    <!-- Forms -->
    <form id = login_details>
        <div class = "container">
            <label for="username"> Username:<br> </label>
            <input type="text" id="username" placeholder = "Enter your username/UPI" autocomplete="off"><br>
            <label for="password"> Password:<br></label>
            <input type="password" id= "password" placeholder= "Enter your password" autocomplete="off"><br>
            <label for="private password">Private Data Password:<br></label>
            <input type="password" id= "priv_password" placeholder= "Enter your Private Data P/W" autocomplete="off"><br>
            <button type="button" class="button" onclick="submit_click()" id = "submit" >Log in</button><br><br>

            <!-- option to create new private data -->
            <h1>Create new Private Data</h1>
            <p> WARNING this will erase your old private data and make it so you can't see your old private messages <br>
                Your'll need to have a correct username and password as well to do this <br>(broken atm,dont click)</p><br>
            <input type="password" id= "new_priv_password" placeholder= "Enter your new private p/w" autocomplete="off"><br>
            <button type="button" class="button" onclick="new_private_data()" id = "submit" >ERASE</button>

        </div>
    </form>
</section>
<script src="static/index.js"></script>
{% endblock %}

