{% extends 'template.html' %}

{% block username %}
<!-- Account Settings -->
<li><a href="#">{{username}}</a></li>
{% endblock username %}

{% block section %}
<!-- SECTION -->
<section class = "section">
    <div class = "section_wrap">
        <div id = "usersBar">
            <!-- filled in with javascript -->
        </div>
        <div id = "broadcast">
            <label>Say hi to everyone!</label><br>
            <textarea id = "broadcast_message" name="Say hi to everyone!" cols="40" rows="15"></textarea><br>
            <button class ="button" onclick = broadcast()> Broadcast</button>
            
        </div>
        <div id = "private_message">
            <label id = 'pm_user'></label>
            <label id = 'pm_user_status'> </label>
            <button class ="button" onclick = private_message()> Private message</button>
            <form >
                <input type="text" id = 'pm_text_box'> </input>
            </form>
            <div id = "private_message_block">
                <!-- filled with javascript -->
            </div>
        </div>
       <div id = "broadcast_block">
            <!-- created from javascript -->
       </div>
    </div>
</section>
<script src="static/main.js"></script>
{% endblock section %}

