{% extends 'template.html.j2' %}
{% block section %}

<!-- SECTION -->
<section class = "section">
    <div class = "container">
        <h1>
            Nice <BR>
            You've logged in.
        </h1>
    </div>
</section>
{% endblock section %}