
body{
	background-color:white;
	color:#99738E;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.6em;
	display:table;
	width:100%;
	margin:0px; 

}

/* main containers  */
.container{
	width:80%;
    margin:auto;
    overflow:hidden;
}

/* header */
#main-header{
    background-color:#f64c72;
	color:white;
}

/* nav bar */
#navbar{
	background-color:#242582;
}
#navbar ul{
	padding:0;
}
#navbar li{
    display: inline;
}
#navbar a{
    color:white;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#navbar a:hover{
	color:#f64c72;
}
#navbar a:active{
    color:black;
}
#navbar a:visited{
}

/* buttons */
.button{
    background-color:rgb(3, 51, 149);
    color:#fff;
    margin-top: 1.2em;
	padding:10px 15px;
	border:none;
}
.button:hover{
	color:#f64c72;
}
.button:active{	
	color:black;
}
/* section */
.section {
    text-align:center;
    background-image:url('Background.png');
	background-position:center;
	min-height: 300px;
	height: 75vh;
}

.section_wrap{
	height:100%;
	min-width: 1400px;
	margin-left:10px;
}

/* footer */
#main-footer{
	background: #242582;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:0px;
}

/* MAIN */


/* users aside bar */
#status_title {
	position: relative;
}
#usersBar .li{
	padding-top	 : 20px;
	

}
#usersBar{
	/* padding-left : 15px; */
	border-style : solid;
	border-color : rgb(94, 128, 240);
	border-radius: 2px;
	border-width : 2px;
	float:right;
	min-width: 200px;
	height:100%;
	background-color: rgba(94, 128, 240,0.8);
	color:whitesmoke;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	margin-left: 10px;
}

#usersBar li:hover{
	color:#f64c72;
}

/* broadcast text box*/
#broadcast{
	float:left;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
	width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #b87f8b; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(62, 4, 170); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(53, 131, 248); 
}


/* broadcast box */
#broadcast_block{
	/* border-style: solid; */
	/* margin: auto; */
	height:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	float: right;
	border-radius: 2px;
	border-width : 2px;
}

/* broadcast table */
.broadcast_table {
	margin-right: 0%;

	/* position: right; */
	color: black;
	text-align: center;
	table-layout:fixed;
	width:800px;
}

.broadcast_table tr:nth-child(even) {
	background: rgb(94, 128, 240);
	opacity: 0.8;
}
.broadcast_table tr:nth-child(odd) {
	background: #FFF;
	opacity: 0.8;
}

.broadcast_table td{
	width:30%; 
	word-wrap:break-word;

}


#private_message{  
	width: 600px;
	height: 500px;
	background: black;
	opacity: 0.8;
	position: absolute;
	bottom : 0;
	left: 0;
}